<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-8">
                        <div class="profile-head">
                            <h5 *ngIf="users[0] !== undefined">
                                {{ users[0].firstName + " " + users[0].lastName }}
                            </h5>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Basic Information</a>
                                </li>
                            </ul>
                        </div>
                    </div>
        
                </div>
                <div class="row">              
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p  appDate [firstName]="users[0].firstName"  [lastName]= "users[0].lastName"></p >
                                    </div>
                                </div>

                                <app-user-information [label]="'Date of Birth'" [value]= "users[0].dob"></app-user-information>
                                <app-user-information [label]="'Gender'"        [value]= "users[0].gender"></app-user-information>
                                <app-user-information [label]="'Contact number'"[value]= "users[0].phone"></app-user-information>
                                <app-user-information [label]="'Address'"       [value]= "users[0].address"></app-user-information>
                                <app-user-information [label]="'Interests'"      [value]= "users[0].interest"></app-user-information>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Role</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{users[0].role | role: users[0].role }}</p >
                                    </div>
                                </div>

                                
                                <!-- <app-user-information [label]="'Email'" [value]= "users[0].email"></app-user-information> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button *ngIf="users[0] !== undefined" type="button" class="btn btn-primary" (click)="toUpdateUser(users[0])"> Edit Profile </button>
                    </div>
                    <div class="col-md-6">
                        <button *ngIf="users[0] !== undefined" type="button" class="btn btn-danger" (click)="signOut()"> Sign Out </button>
                    </div>
                </div>
            </form>           
        </div>